  <div class="row">

    <div class="col s12 profile-header" back-img="{{currentUser.backgroundImgurl}}">
      <a id="profileEditDrop"
      class="btn-floating btn-large waves-effect waves-light green pull-right">
        <i class="large material-icons">mode_edit</i>
      </a>
      <div class="frame">
        <img ng-show="currentUser.imgurl" ng-src="{{currentUser.imgurl}}" onerror="this.src= '//www.drupal.org/files/profile_default.png'" class="profile-pic">
        <img ng-hide="currentUser.imgurl" src='//www.drupal.org/files/profile_default.png' class="profile-pic">
        <span class="profile-name">
          {{currentUser.firstName}} {{currentUser.lastName}}
        </span>
      </div>
    </div>

    <div class="col s12 nav">
      <ul class="tabs">
        <li class="tab col s12"><a ui-sref="profile-walls">Walls</a></li>
        <li class="tab col s12"><a ui-sref="profile-reactions">Reactions</a></li>
      </ul>
    </div>

    <div class="row">
      <div class="col s8 offset-s2" ng-repeat="wall in currentUser._walls">
        <div class="card hoverable">
          <div class="card-content black-text">
            <p style="margin-left:70%; display:inline-block;" class="flow-text">{{wall.title}}</p>
          </div>

          <div class="card-image card-profile">
            <a href="">
              <img class="wall-profile" ng-src="{{wall.mediaUrl}}" alt="{{wall.caption}}" ui-sref="wall-view({id: wall._id})"  style="max-height:100px; width:900px; position:relative;left:-210px">
            </a>
          </div>

          <div class="card-action reacts">
            <p class="truncate">{{wall.caption}}</p><br>
            <div class="reaction-GIF-box" ng-repeat="reaction in wall.reactions">
              <img class="reaction-GIF" ng-src="{{reaction.reactionUrl}}" alt="{{reaction.emotion}}">
              <div ng-if="reaction.emotion === 'happiness'" class="reaction-emotion happy">{{reaction.emotion | titlecase}}</div>
              <div ng-if="reaction.emotion === 'anger'" class="reaction-emotion anger">{{reaction.emotion | titlecase}}</div>
              <div ng-if="reaction.emotion === 'disgust'" class="reaction-emotion disgust">{{reaction.emotion | titlecase}}</div>
              <div ng-if="reaction.emotion === 'neutral'" class="reaction-emotion neutral">{{reaction.emotion | titlecase}}</div>
              <div ng-if="reaction.emotion === 'contempt'" class="reaction-emotion contempt">{{reaction.emotion | titlecase}}</div>
              <div ng-if="reaction.emotion === 'fear'" class="reaction-emotion fear">{{reaction.emotion | titlecase}}</div>
              <div ng-if="reaction.emotion === 'sadness'" class="reaction-emotion sadness">{{reaction.emotion | titlecase}}</div>
              <div ng-if="reaction.emotion === 'surprise'" class="reaction-emotion surprise">{{reaction.emotion | titlecase}}</div>
              <div ng-if="reaction.emotion === 'unknown'" class="reaction-emotion unknown">{{reaction.emotion | titlecase}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="profileEditForm" class="webui-popover-content">
    <div class="row">
      <div class="col s12">
        <form ng-submit="editSubmit()">
          <div class="input-field">
            <input type="text" placeholder="First Name" required="" aria-required="true" ng-model="edit.firstName" class="validate">
          </div>
          <div class="input-field">
            <input type="text" placeholder="Last Name" ng-model="edit.lastName" class="validate">
          </div>
          <div class="input-field">
            <input type="text" placeholder="Profile Image" ng-model="edit.imgurl" class="validate">
          </div>
          <div class="input-field">
            <input type="text" placeholder="Background Image" ng-model="edit.backgroundImgurl" class="validate">
          </div>
          <div class="center">
            <div ng-show="error" class="error">{{error}}</div>
            <button type="button" ng-click="editSubmit()" class="btn waves-effect waves-light fb-blue">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
