img.profile-pic {
  height: 150px;
  border-radius: 400px;
  margin-top: 225px;
  margin-left: 55px; }

.profile-header {
  background-color: #d0d0d0;
  height: 400px;
  background-image: url(); }

span.profile-name {
  position: absolute;
  top: 350px;
  left: 235px;
  font-size: 28px;
  color: white; }

.col.s12.nav {
  padding: 0; }

ul.tabs {
  border-bottom: 2px solid gray; }

.rec {
  color: red; }

.fa-video-camera {
  margin-right: 10px;
  margin-left: 35px; }

span {
  position: absolute;
  top: 300px;
  font-size: 28px;
  color: white; }

.reaction-GIF-box {
  display: inline-block;
}

.reaction-GIF {
  width: 220px;
}

a.btn-floating.btn-large.waves-effect.waves-light.green.pull-right {
    margin-top: 30px;
    margin-right: 30px;
}
