img.profile-pic {
  height: 150px;
  border-radius: 400px;
  margin-top: 125px;
  margin-left: 55px; }

.profile-header {
  background-color: #d0d0d0;
  height: 300px;
  background-image: url(); }

span.profile-name {
  position: absolute;
  top: 250px;
  left: 235px;
  font-size: 28px;
  color: white; }

.col.s12.nav {
  padding: 0; }

ul.tabs {
  border-bottom: 2px solid gray; }

.rec {
  color: red; }

.fa-video-camera {
  margin-right: 10px;
  margin-left: 35px; }

span {
  position: absolute;
  top: 300px;
  font-size: 28px;
  color: white; }
