<div class="row" style="margin-top:180px">
    <div class="row">
        <div class="col m6 offset-m2">
            <span ng-bind-html="emotionUNICODE"></span>
            <h4>{{wall.caption}}</h4>
        </div>
        <div class="col m2 right-align">
            <h4 style="color:green"><i>Posted by: {{wall._owner.firstName}}</i></h4>
        </div>
    </div>

    <div class="row">
        <div class="col m6 offset-m3">
            <div class="row center">

                <div class="row center-align">
                  <div class="card-image">
                    <a href="">
                        <img ng-src="{{wall.mediaUrl}}" style="max-height:350px; width:auto">
                    </a>
                  </div>
                </div>
            </div>
            <div class="card-content reactions">
                <div ng-repeat="reaction in wall.reactions"><img ng-src="{{ reaction.reactionUrl }}" class="reactionImg"></div>
            </div>
        </div>
    </div>

</div>





<!-- <div class="row" style="background: transparent;">
    <br>
    <br>
    <br>
    <br>

    <div class="row">
        <div class="col m6 offset-m2">
            <span ng-bind-html="emotionUNICODE"></span>
            <h4>{{wall.caption}}</h4>
        </div>
        <div class="col m2 right-align">
            <h4 style="color:green"><i>Posted by: {{wall._owner.firstName}}</i></h4>
        </div>
    </div>

    <div class="col m8 offset-m2">
        <div class="row">

            <div class="card center-align">
                <div class="card-image waves-effect waves-block waves-light center-align">
                    <img class="activator" ng-src="{{wall.mediaUrl}}" style="max-width:550px">
                </div>
            </div>
        </div>
        <div class="card-content reactions">

            <div ng-repeat="reaction in wall.reactions"><img ng-src="{{ reaction.reactionUrl }}" class="reactionImg"></div>
        </div>

        <div id="result">

        </div>


    </div>
</div> -->
