<body>
  <div class="custom-blog mdl-layout mdl-js-layout has-drawer is-upgraded">
    <div class="container" style="margin-top:10px">
      <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <h6 class="welcome-title">Post</h6>
            <div class="card-content">
              <form ng-submit="newWallPost()">
                <div class="input-field">
                  <input type="text" placeholder="Title" required="" aria-required="true" ng-model="newPost.title" class="validate">
                </div>
                <div class="input-field">
                  <input type="text" placeholder="Caption" required="" aria-required="true" ng-model="newPost.caption" class="validate">
                </div>
                <div class="input-field center">
                  <a name="newFile" class="waves-effect waves-blue btn-flat text-grey" ng-model="newPost.mediaUrl" ngf-select ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB">Upload File <img src="http://icons.iconarchive.com/icons/custom-icon-design/mono-general-4/128/upload-icon.png" alt="" style="width:20px; margin-left:10px; position:relative; top:-1px"></a>
                </div>
                <br/>
                <div class="center">
                  <button style="background-color:#F2385A" type="submit" class="btn waves-effect waves-light waves">Post<i class="material-icons left">send</i></button>
                  <br/>
                  <pre>{{postErr}}</pre>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card" style="min-height: 380px">
            <h6 class="welcome-title">Welcome</h6>
            <div class="card-content welcome gray-text">
              <h6 class="flow-text" style="font-size:17px">Hi we are Reflecti XYZ...</h6>
              <p class="flow-text" style="font-size:17px">The future of social interaction is here, long gone are the days of likes. Here at Reflecti interactions are real.</p><br/>
              <p class="flow-text" style="font-size:17px">Each post comment is the person's true reactions to that post.</p><br/><br/>
              <p class="flow-text" style="font-size:17px"> Go on Start Interacting!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6" ng-repeat="post in posts">
          <div class="card hoverable">
            <div class="card-content black-text">
              <p class="flow-text">{{post.title}}</p>
            </div>

            <div class="card-image center">
              <a class="center" ui-sref="wall-view({id:post._id})">
                <img class="wall-list center" src="{{post.mediaUrl}}" alt="{{post.caption}}" style="max-width:270px;height:auto;">
                <p class="img-type circle flow-text"><{{mediaType |uppercase }}></p>
              </a>
            </div>

            <div class="card-action">
              <p class="truncate">{{post.caption}}</p>
              <p>{{post.reaction}}</p>
              <!-- <div class="reaction-GIF-box" ng-repeat="reaction in post.reactions">
                <img class="reaction-GIF" ng-src="{{reaction.reactionUrl}}" alt="{{reaction.emotion}}"> -->

                <div ng-if="post.emotionsLibrary.happiness" class="chip">
                  😀 Happy {{post.emotionsLibrary.happiness}}
                </div>
                <div ng-if="post.emotionsLibrary.sadness" class="chip">
                  😢 Sad {{post.emotionsLibrary.sadness}}
                </div>
                <div ng-if="post.emotionsLibrary.anger" class="chip">
                  😡 Anger {{post.emotionsLibrary.anger}}
                </div>
                <div ng-if="post.emotionsLibrary.neutral" class="chip">
                  😐 Neutral {{post.emotionsLibrary.neutral}}
                </div>
                <div ng-if="post.emotionsLibrary.contempt" class="chip">
                  🙂 Contempt {{post.emotionsLibrary.contempt}}
                </div>
                <div ng-if="post.emotionsLibrary.disgust" class="chip">
                  😷 Disgust {{post.emotionsLibrary.disgust}}
                </div>
                <div ng-if="post.emotionsLibrary.surprise" class="chip">
                  😯 Surprise {{post.emotionsLibrary.surprise}}
                </div>
                <div ng-if="post.emotionsLibrary.fear" class="chip">
                  😨 Fear {{post.emotionsLibrary.fear}}
                </div>
                <div ng-if="post.emotionsLibrary.unknown" class="chip">
                  😶 Unknown {{post.emotionsLibrary.unknown}}
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mdl-layout__obfuscator"></div>
  </div>
</body>
</html>
